/vendor
/docs/public
/docs/.hugo_build.lock
/_examples/chat/node_modules
/integration/node_modules
/integration/schema-fetched.graphql
/_examples/chat/package-lock.json
/_examples/federation/package-lock.json
/_examples/federation/node_modules
/codegen/gen
/gen
/application

/.vscode
.idea/
*.test
*.out
gqlgen
*.exe
config.yml

/uploads
exports/65db1cdb1301b7d127939d25.pdf
exports/65ea31f89da401b3ece5ef0d.pdf
exports/savon.pdf

__debug_bin*

server/w
.github/workflows/test.yml
Makefile
DEPLOYMENT.md
